In [3]:
message="Assalam o alekum Python World!"
print(message)

Assalam o alekum Python World!

In [4]:
message2="I am from Usman Institute of Technology"
print(message2)

I am from Usman Institute of Technology

In [5]:
message3="My sir is great..."
print(message3)

My sir is great...

In [8]:
name="yUmNa AsIm"
# three funtion can be used title(),upper(),lower()
print(name.title())
print(name.upper())
print(name.lower())

Yumna Asim
YUMNA ASIM
yumna asim

message=input("Tell me something,and i will repeat back to you:")
print(message)

In [11]:
name=input("Please enter your name:")
print("Asalam o alekum,"+name+"!")

Please enter your name:yumna
Asalam o alekum,yumna!

In [14]:
uni_first_name="Usman"
uni_mid_name="Institute of"
uni_last_name="Technology"
full_name=uni_first_name+""+uni_mid_name+""+uni_last_name
print(full_name)

UsmanInstitute ofTechnology

In [15]:
print("I learned these programming language:\n C \n Java \nPython")

I learned these programming language:
 C
 Java
Python

In [16]:
# Add,Sub,Mul,Div,Pow
print(2+5)
print(6-4)
print(5*5)
print(6/1.5)
print(2**2)
print(3+5*2)

7
2
25
4.0
4
13

In [17]:
print(2.2+5)
print(6-4.2)
print(5*5.5)
print(2.4**2)
print(6/1.5)
print(3+5.2)

7.2
1.7999999999999998
27.5
5.76
4.0
8.2

# lab 1

In [18]:
name=input("whats your name:")
age=int(input("how old are you:"))
year=str((2018-age)+100)
print(name+"will be 100 years oldin the year"+year)

whats your name:yumna
how old are you:19
yumnawill be 100 years oldin the year2099

In [24]:
print("Twinkle,twickle,little star,\n\tHow I Wonder what you are! \n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle ,twinkle,little star \n\tHow I wonder what you are!")

Twinkle,twickle,little star,
	How I Wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle ,twinkle,little star
	How I wonder what you are!

import datetime
now=datetime.datetime.now()
print("current date and time:")
print(now.strftime("%Y-%m-%d%H:%M:%S"))